<section class="classes-home py-10 relative">
  <app-classes-header></app-classes-header>
  <div class="absolute top-18 left-0 w-full h-1/2 bg-[#F3F3F4]">
    <!-- classes -->
    <ul class="flex flex-wrap justify-center gap-4 my-5">
      <li>
        <app-full-body-btn (click)="getMusclesRandom()"></app-full-body-btn>
      </li>
      @for (muscles of musclesList; track muscles._id) {
      <li>
        <app-button-category
          [musclesList]="muscles"
          (click)="getMusclesData(muscles._id)"
        ></app-button-category>
      </li>
      }
    </ul>
  </div>
  <div class="mt-10">
    <app-muscles [musclesGroup]="musclesBox"></app-muscles>
  </div>
</section>
