<section class="classes-home py-16 px-4 relative">
  <app-classes-header></app-classes-header>
  <ul class="flex flex-wrap justify-center gap-3 mt-8 text-sm md:text-base">
    <li>
      <app-full-body-btn (click)="getMusclesRandom()"></app-full-body-btn>
    </li>
    @for (muscles of musclesList; track muscles._id) {
      <li>
        <app-button-category
          [musclesList]="muscles"
          (click)="getMusclesData(muscles._id)"
        ></app-button-category>
      </li>
    }
  </ul>

  <app-muscles [musclesGroup]="musclesBox"></app-muscles>
</section>
