<section class="w-[90%] mx-auto pt-20">
  <div class="">
    <app-healthy-header></app-healthy-header>

    <!-- Meals -->
    <ul class="flex flex-wrap justify-center gap-4 my-5">
      @for (category of categoriesList; track category.idCategory) {
      <li>
        <app-button-category
          [musclesList]="category"
          (click)="mealsByCategory(category.strCategory)"
        ></app-button-category>
      </li>
      }
    </ul>
  </div>
  <app-category [mealsGroup]="mealsCategory"></app-category>
</section>
