<div class="text-center mb-6 questions-layout">
    <div class="text-center flex justify-center">

        <p-knob [(ngModel)]="value" [strokeWidth]="5" valueColor="#ff4100" readonly="true" textColor="#ff4100"/>
    </div>

      <!-- <div class="count-question text-gray-300 text-3xl  mb-2 font-semibold"><span>{{Count}}/6</span></div> -->
      <h1 class="text-2xl  md:text-4xl font-extrabold text-white text-nowrap text-center">{{Title}}</h1>
      <p class="text-gray-300 mt-2">{{Subtitle}}</p>
    </div>