<footer class="bg-(--secondary-color) py-12 bg-[#F3F3F4] dark:bg-(--secondary-color) dark:text-[#e5e5e5] text-black">
  <div class="container flex items-center justify-center mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 text-center">

    <!-- Logo & Text -->
    <div>
      <a><img ngSrc="../../../../assets/images/logo.png" alt="" class="w-[90px] mb-4 mx-auto" height="3000" width="3000"></a>
      <p class="dark:text-[#cfcfcf] leading-relaxed">
        Push harder, go further. Your<br>fitness journey starts today!
      </p>
    </div>

    <!-- Contact Us -->
    <div>
      <h3 class="text-[16px] font-bold mb-4">CONTACT US</h3>

      <div class="dark:text-[#cfcfcf] mb-2">
        <span class="inline-flex items-center justify-center w-7.5 h-7 border rounded-full dark:text-[#e5e5e5] text-black">
          <i class="fa fa-phone text-[16px]"></i>
        </span>
        <span class="mx-3">+91 123 456 789</span>
      </div>
      <div class="dark:text-[#cfcfcf] ml-1.5 rtl:-ml-1">
        <span class="inline-flex items-center justify-center w-7.5 h-7 border rounded-full dark:text-[#e5e5e5] text-black">
          <i class="fa fa-envelope text-[16px]"></i>
        </span>
        <span class="mx-3">info&#64;gmail.com</span>
      </div>

    </div>

    <!-- Gym Timing -->
    <div>
      <h3 class="text-[16px] font-bold mb-4">OUR GYM TIMING</h3>
      <p class="dark:text-[#cfcfcf] mb-2">Mon - Fri : 08:00 AM - 10:00 PM</p>
      <p class="dark:text-[#cfcfcf]">Sat - Sun : 08:00 AM - 09:00 PM</p>
    </div>

    <!-- Location -->
    <div>
      <h3 class="text-[16px] font-bold mb-4">OUR LOCATION</h3>
      <p class="dark:text-[#cfcfcf] leading-relaxed">
        2715 Ash Dr. San Jose, South<br>Dakota 83475
      </p>
    </div>

  </div>
</footer>
