<section class="bg-[#F3F3F4] dark:bg-(--secondary-color) px-4">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 py-40">
      <div class="col-span-12 xl:col-span-6">
        <h1 class="text-black sm:text-5xl text-4xl font-bold dark:text-white uppercase">{{"bestWay.title" | translate}}  <span class="text-[var(--primary-color)] uppercase">{{"bestWay.highlight" | translate}}</span> {{"bestWay.titleEnd" | translate}}</h1>
        <p class="my-10 text-black dark:text-white mb-15">{{"bestWay.description" | translate}}</p>

        <div class="text-black dark:text-white">

          <ol class="relative ms-8">
            <li class="mb-10 ms-10">

              <div class="absolute w-14 h-14 bg-neutral-quaternary rounded-full mt-5.5 -start-7.5 bg-(--primary-color) text-white flex justify-center items-center rtl:mt-0">
                <span class="">01</span>
              </div>
              <h3 class="text-lg font-semibold text-heading my-2">{{"bestWay.step1Title" | translate}}</h3>
              <p>{{"bestWay.step1Description" | translate}}</p>

            </li>
            <li class="mb-10 ms-10">

              <div class="absolute w-14 h-14 bg-neutral-quaternary rounded-full mt-5.5 -start-7.5  bg-(--primary-color) text-white flex justify-center items-center rtl:mt-0">
                <span class="">02</span>
              </div>
              <h3 class="text-lg font-semibold text-heading my-2">{{"bestWay.step2Title" | translate}}</h3>
              <p>{{"bestWay.step2Description" | translate}}</p>

            </li>
            <li class="mb-10 ms-10">

              <div class="absolute w-14 h-14 bg-neutral-quaternary rounded-full mt-5.5 -start-7.5 bg-(--primary-color) text-white flex justify-center items-center rtl:mt-0">
                <span class="">03</span>
              </div>
              <h3 class="text-lg font-semibold text-heading my-2">{{"bestWay.step3Title" | translate}}</h3>
              <p>{{"bestWay.step3Description" | translate}}</p>

            </li>

            <div class="w-0.5 h-6 sm:h-4.5 absolute top-19.5 -left-1 rtl:-right-1 rtl:top-14 bg-gray-500/30"></div>
            <div class="w-0.5 h-6 sm:h-4.5 absolute top-28 sm:top-25.5 -left-1 rtl:-right-1 rtl:top-20.5 bg-gray-500/30"></div>
            <div class="w-0.5 h-6 sm:h-4.5 absolute top-36.5 sm:top-32 -left-1 rtl:-right-1 rtl:top-39 bg-gray-500/30"></div>

            <div class="w-0.5 h-6 sm:h-4.5 absolute top-56.5 sm:top-56.5 -left-1 rtl:-right-1 rtl:top-45.5 bg-gray-500/30"></div>
            <div class="w-0.5 h-6 sm:h-4.5 absolute top-65 sm:top-50.5 -left-1 rtl:hidden bg-gray-500/30"></div>
            <div class="w-0.5 h-6 sm:h-4.5 absolute top-73.5 sm:top-63 -left-1 rtl:hidden bg-gray-500/30"></div>
          </ol>
        </div>
      </div>

      <!-- Images Section -->
      <div class="col-span-12 xl:col-span-6 flex items-center justify-center">
        <div class="relative w-full max-w-[600px] h-[500px] sm:h-[600px] mx-auto">

          <!-- Image 1 - Top Left -->
          <img ngSrc="../../../../../../assets/images/BestWay/Image1.png" alt="Fitness training" class="absolute rounded-xl w-[180px] sm:w-[250px] h-[250px] sm:h-[340px] object-cover shadow-lg -top-2 left-10 z-10" height="379" width="291">
          <!-- Image 2 - Top Right -->
          <img ngSrc="../../../../../../assets/images/BestWay/Image2.png" alt="Gym equipment" class="absolute rounded-xl w-[180px] sm:w-[250px] h-[220px] sm:h-[250px] object-cover shadow-lg top-8 right-14 sm:right-12 z-20" height="286" width="304">
          <!-- Image 3 - Bottom Left -->
          <img ngSrc="../../../../../../assets/images/BestWay/Image3.png" alt="Personal training" class="absolute rounded-xl w-[180px] sm:w-[250px] h-[280px] sm:h-[340px] object-cover shadow-lg sm:-bottom-20 -bottom-7 left-10 z-30" height="345" width="291">
          <!-- Image 4 - Bottom Right -->
          <img ngSrc="../../../../../../assets/images/BestWay/image4.png" alt="Fitness motivation" class="absolute rounded-xl w-[160px] sm:w-[250px] h-[240px] sm:h-[340px] object-cover shadow-lg -bottom-0 sm:-bottom-7 right-20 sm:right-12 z-40" height="347" width="304">
        </div>
      </div>
    </div>
  </div>
</section>
