<section class="classes-home py-16 px-4 relative">
  <app-healthy-header></app-healthy-header>
  <ul class="flex flex-wrap justify-center gap-3 mt-8 text-sm md:text-base">
    @for (category of categoriesList; track category.idCategory) {
      <li>
        <app-button-category
          [musclesList]="category"
          (click)="mealsByCategory(category.strCategory)"
        ></app-button-category>
      </li>
    }
  </ul>

  <app-category [mealsGroup]="mealsCategory"></app-category>
</section>
