<section class="login-page px-6 md:px-12 grid items-center justify-center min-h-screen ">
  <div class="md:min-w-[500px]">
      <div class="text-center mb-6">
        <h1 class="text-4xl md:text-5xl font-extrabold text-white">create new password </h1>
      </div>

      <div class="glass-card p-8 rounded-[50px] border border-white/20">
        <h3 class="text-white text-lg font-semibold mb-6">make sure its 8 characters or more</h3>

        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="mb-4">
            <div class="input-group">
              <i class="fa-solid fa-lock"></i>
              <input id="password" type="password" formControlName="newPassword" placeholder="Password">
            </div>
            @if(newPassword?.touched && newPassword?.invalid) {
              <app-error-message errorMessage="Enter a valid password"></app-error-message>
            }
          </div>
          <div class="mb-4">
            <div class="input-group">
              <i class="fa-solid fa-lock"></i>
              <input id="newPassword" type="password" formControlName="confirmPassword" placeholder="Password">
            </div>
            @if(newPassword?.touched && newPassword?.invalid) {
              <app-error-message errorMessage="Enter a valid password"></app-error-message>
            }
            @if(form.hasError('passwordMismatch') && (confirmPassword?.touched || confirmPassword?.dirty)) {
              <app-error-message errorMessage="Passwords do not match"></app-error-message>
            }
          </div>

          

        

          

          <app-button-submit [form]="form" [disabled]="form.invalid" buttonText="Done"></app-button-submit>
          
        </form>
      </div>
      </div>
</section>


    <p-toast />
