/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');

@theme {
   --primary-color: #ff4100;
  --primary-color-rgb: 255, 65, 0;
  --secondary-color: #242424;
}
:root {
  --primary-color: #ff4100;
  --primary-color-rgb: 255, 65, 0;
  --secondary-color: #242424;
}

body {
  font-family: "Baloo Thambi 2", system-ui;
  background-color: #fff;
}

[data-theme="dark"] {
  body {
    background-color: var(--secondary-color);
    color: #fff;
  }
}


.title-page {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
  isolation: isolate;

  &::before {
    content: attr(data-title);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    position: absolute;
    bottom: -5px;
    inset-inline-start: 0;
    color: #fff;
    line-height: 100%;
    z-index: -2;
    text-shadow:
      -1px -1px 0 rgba(36, 36, 36, .5),
      /* Top-left shadow */
      1px -1px 0 rgba(36, 36, 36, .5),
      /* Top-right shadow */
      -1px 1px 0 rgba(36, 36, 36, .5),
      /* Bottom-left shadow */
      1px 1px 0 rgba(36, 36, 36, .5);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    inset-inline-start: 0;
    background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 200%;
    z-index: -1;
  }
}

[data-theme="dark"] {
  .title-page {
  &::before {
    color: var(--secondary-color);
    text-shadow:
      -1px -1px 0 rgba(255, 255, 255, 0.5),
      /* Top-left shadow */
      1px -1px 0 rgba(255, 255, 255, 0.5),
      /* Top-right shadow */
      -1px 1px 0 rgba(255, 255, 255, 0.5),
      /* Bottom-left shadow */
      1px 1px 0 rgba(255, 255, 255, 0.5);
  }
  &::after {
    background: linear-gradient(0, var(--secondary-color) 0%, var(--secondary-color) 50%, rgba(255, 255, 255, 0) 100%);
  }
}
}



.owl-carousel .owl-stage .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* body .logo-side .owl-carousel .owl-stage > .active:nth-child(1) {
  background-color: #ff4100;
}

.owl-carousel .owl-stage .owl-item.active:nth-child(2) .age-item{
  font-size: 16px;
} */
.owl-carousel .owl-stage .owl-item{
  font-size: 34px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  height: 60px;
  padding: 20px;
  cursor: pointer;
}
.owl-carousel .owl-stage .owl-item .age-item {
  font-size: 34px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-stage .owl-item.active .age-item.active{
  font-size: 48px;
    color: var(--primary-color);
  font-weight: 800;
  // transform: translateY(-10px);

}




/* checkbox Prime ng */
.field-checkbox {
    position: relative;
    
.p-radiobutton{
      position: absolute;
      inset-inline-end: 16px;
      top: 50%;
      transform: translateY(-50%);  
      z-index: 3;
  
    }
   
    label {
      display: block; 
      padding: 14px 16px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      border-radius: 20px;
      border: 1px solid #D9D9D9 ;
      background: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(12px);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
         .p-radiobutton-checked label {
          border-color: var(--primary-color);
         }  
    .p-radiobutton-checked .p-radiobutton-box {
          border-color: var(--primary-color);
          background: var(--primary-color);
    }
    .p-radiobutton-checked:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box {
      border-color: var(--primary-color);
          background: var(--primary-color);
    }
    
}
.field-checkbox {
  &:has(input.p-radiobutton-input:checked) {
    label {
      border-color: var(--primary-color);
    }
  }
}